/* src/navbar.css */
.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: black;
    width: 100%;
  }
  
  header, main, footer {
    position: relative;
    z-index: 1;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  .nav-link {
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link.active {
    background-color: #085bea; /* Using a darker shade to highlight the active link */
    color: white;
  }
  
  @media (max-width: 768px) {
    
  
    .nav-link {
      padding: 6px 12px;
      width: 100%;
      text-align: center;
    }
  
    .nav-link.active {
      background-color: #085bea;
      color: white;
    }
  
    header {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  